<!DOCTYPE html>
<html>
  <head>
    <title>BackendProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="jumbotron">
    <h1>General jumbotron Header from application.html.erb</h1>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
